In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df1=pd.read_csv(r'database.csv');
df1

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11336,5891391,Sean St Ledger,Male,1984,Solihull,NaN,United Kingdom,Europe,52.41290,-1.77209,Soccer Player,Team Sports,Sports,28,380965,13606,11.1346
11337,5322451,Saina Nehwal,Female,1990,Hisar,NaN,India,Asia,29.16670,75.71670,Athlete,Individual Sports,Sports,26,2255010,86731,10.6122
11338,33525706,Rūta Meilutytė,Female,1997,Kaunas,NaN,Lithuania,Europe,54.90000,23.88611,Swimmer,Individual Sports,Sports,32,342719,10710,10.3821
11339,22938476,Vladimír Weiss,Male,1989,Bratislava,NaN,Slovakia,Europe,48.14389,17.10972,Soccer Player,Team Sports,Sports,27,12479,462,10.2495
11340,26535791,Missy Franklin,Female,1995,Los Angeles,CA,United States,North America,34.15611,-118.13194,Swimmer,Individual Sports,Sports,26,1894716,72874,9.8794

In [5]:
df1.isnull().count()

article_id                     11341
full_name                      11341
sex                            11341
birth_year                     11341
city                           11341
state                          11341
country                        11341
continent                      11341
latitude                       11341
longitude                      11341
occupation                     11341
industry                       11341
domain                         11341
article_languages              11341
page_views                     11341
average_views                  11341
historical_popularity_index    11341
dtype: int64

In [6]:
df1.isnull().sum()

article_id                        0
full_name                         0
sex                               0
birth_year                        0
city                              0
state                          9169
country                          33
continent                        30
latitude                       1047
longitude                      1047
occupation                        0
industry                          0
domain                            0
article_languages                 0
page_views                        0
average_views                     0
historical_popularity_index       0
dtype: int64

In [7]:
df1.head()

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840

In [11]:
df_clean=df1.dropna(subset=['state'])

In [12]:
df_clean=df1.dropna(subset=['country'])

In [13]:
df_clean=df1.dropna(subset=['continent'])

In [15]:
df_clean=df1.dropna(subset=['latitude'])

In [16]:
df_clean=df1.dropna(subset=['longitude'])

In [18]:
df_clean.isnull().sum()

article_id                        0
full_name                         0
sex                               0
birth_year                        0
city                              0
state                          8164
country                          33
continent                        10
latitude                          0
longitude                         0
occupation                        0
industry                          0
domain                            0
article_languages                 0
page_views                        0
average_views                     0
historical_popularity_index       0
dtype: int64

In [37]:
df_clean.head()

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840

In [38]:
df_clean

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.5840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11336,5891391,Sean St Ledger,Male,1984,Solihull,NaN,United Kingdom,Europe,52.41290,-1.77209,Soccer Player,Team Sports,Sports,28,380965,13606,11.1346
11337,5322451,Saina Nehwal,Female,1990,Hisar,NaN,India,Asia,29.16670,75.71670,Athlete,Individual Sports,Sports,26,2255010,86731,10.6122
11338,33525706,Rūta Meilutytė,Female,1997,Kaunas,NaN,Lithuania,Europe,54.90000,23.88611,Swimmer,Individual Sports,Sports,32,342719,10710,10.3821
11339,22938476,Vladimír Weiss,Male,1989,Bratislava,NaN,Slovakia,Europe,48.14389,17.10972,Soccer Player,Team Sports,Sports,27,12479,462,10.2495
11340,26535791,Missy Franklin,Female,1995,Los Angeles,CA,United States,North America,34.15611,-118.13194,Swimmer,Individual Sports,Sports,26,1894716,72874,9.8794

In [39]:
import warnings
warnings.filterwarnings('ignore')

In [40]:
np.__version__

'1.26.4'

In [41]:
df1.dtypes

article_id                       int64
full_name                       object
sex                             object
birth_year                      object
city                            object
state                           object
country                         object
continent                       object
latitude                       float64
longitude                      float64
occupation                      object
industry                        object
domain                          object
article_languages                int64
page_views                       int64
average_views                    int64
historical_popularity_index    float64
dtype: object

In [42]:
df_clean.dtypes

article_id                       int64
full_name                       object
sex                             object
birth_year                      object
city                            object
state                           object
country                         object
continent                       object
latitude                       float64
longitude                      float64
occupation                      object
industry                        object
domain                          object
article_languages                int64
page_views                       int64
average_views                    int64
historical_popularity_index    float64
dtype: object

In [43]:
df_clean.shape

(10294, 17)

In [44]:
df1.shape

(11341, 17)

In [45]:
df1.columns

Index(['article_id', 'full_name', 'sex', 'birth_year', 'city', 'state',
       'country', 'continent', 'latitude', 'longitude', 'occupation',
       'industry', 'domain', 'article_languages', 'page_views',
       'average_views', 'historical_popularity_index'],
      dtype='object')

In [46]:
df_clean.columns

Index(['article_id', 'full_name', 'sex', 'birth_year', 'city', 'state',
       'country', 'continent', 'latitude', 'longitude', 'occupation',
       'industry', 'domain', 'article_languages', 'page_views',
       'average_views', 'historical_popularity_index'],
      dtype='object')

In [48]:
df = df.drop(['full_name', 'sex', 'birth_year', 'state',
       'country', 'continent','occupation',
       'industry', 'domain', 'article_languages'], axis=1)

In [49]:
df

,article_id,latitude,longitude,page_views,average_views,historical_popularity_index
0,308,40.33333,23.50000,56355172,370758,31.9938
1,22954,37.96667,23.71667,46812003,329662,31.9888
2,1095706,32.50000,34.90000,60299092,281771,31.8981
3,25664190,37.96667,23.71667,40307143,294213,31.6521
4,783,40.80000,22.51667,48358148,350421,31.5840
...,...,...,...,...,...,...
11336,5891391,52.41290,-1.77209,380965,13606,11.1346
11337,5322451,29.16670,75.71670,2255010,86731,10.6122
11338,33525706,54.90000,23.88611,342719,10710,10.3821
11339,22938476,48.14389,17.10972,12479,462,10.2495
11340,26535791,34.15611,-118.13194,1894716,72874,9.8794

In [50]:
X=df.drop('historical_popularity_index',axis=1)
y=df['historical_popularity_index']

In [51]:
X

       article_id  latitude  longitude  page_views  average_views
0             308  40.33333   23.50000    56355172         370758
1           22954  37.96667   23.71667    46812003         329662
2         1095706  32.50000   34.90000    60299092         281771
3        25664190  37.96667   23.71667    40307143         294213
4             783  40.80000   22.51667    48358148         350421
...           ...       ...        ...         ...            ...
11336     5891391  52.41290   -1.77209      380965          13606
11337     5322451  29.16670   75.71670     2255010          86731
11338    33525706  54.90000   23.88611      342719          10710
11339    22938476  48.14389   17.10972       12479            462
11340    26535791  34.15611 -118.13194     1894716          72874

[10294 rows x 5 columns]

In [52]:
y

0        31.9938
1        31.9888
2        31.8981
3        31.6521
4        31.5840
          ...
11336    11.1346
11337    10.6122
11338    10.3821
11339    10.2495
11340     9.8794
Name: historical_popularity_index, Length: 10294, dtype: float64

In [53]:
df.isnull().sum()

article_id                     0
latitude                       0
longitude                      0
page_views                     0
average_views                  0
historical_popularity_index    0
dtype: int64

In [54]:
df.describe

<bound method NDFrame.describe of        article_id  latitude  longitude  page_views  average_views  \
0             308  40.33333   23.50000    56355172         370758
1           22954  37.96667   23.71667    46812003         329662
2         1095706  32.50000   34.90000    60299092         281771
3        25664190  37.96667   23.71667    40307143         294213
4             783  40.80000   22.51667    48358148         350421
...           ...       ...        ...         ...            ...
11336     5891391  52.41290   -1.77209      380965          13606
11337     5322451  29.16670   75.71670     2255010          86731
11338    33525706  54.90000   23.88611      342719          10710
11339    22938476  48.14389   17.10972       12479            462
11340    26535791  34.15611 -118.13194     1894716          72874

       historical_popularity_index
0                          31.9938
1                          31.9888
2                          31.8981
3                          31.6521
4                          31.5840
...                            ...
11336                      11.1346
11337                      10.6122
11338                      10.3821
11339                      10.2495
11340                       9.8794

[10294 rows x 6 columns]>

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,  # Input data
                                                  y,  # output data
                                                  random_state=1234, # it select random samples
                                                  test_size=0.30)

In [56]:
X_train.shape, X_test.shape

((7205, 5), (3089, 5))

In [57]:
y_train.shape, y_test.shape

((7205,), (3089,))

In [58]:
X_train

       article_id  latitude  longitude  page_views  average_views
10968     1666377   3.86667   11.51667      969122          34612
791         63174  45.76000    4.84000     9899518         130257
3107       439650  33.50000   36.30000      351514           7030
8468       315471  59.28194   18.08750     1060821          34220
1611        22459  56.15720   10.21070      691588          13300
...           ...       ...        ...         ...            ...
784         52201  49.17830    3.12390     3805796          65617
8480        34095  36.57194  -87.30000     1289628          46058
8147       750492  10.28333  -61.46667      276444          10632
1586        25523  40.79028  -73.95972     8621012         113434
9916      1676102  34.10300 -118.60500     8708489         290283

[7205 rows x 5 columns]

In [59]:
df.ndim

2

In [60]:
X_train.ndim

2

In [61]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,
       y_train)

LinearRegression()

In [62]:
y_predictions=LR.predict(X_test)

In [63]:
y_predictions

array([23.03176019, 19.47296916, 21.39237059, ..., 22.50862286,
       21.24708627, 23.32399524])

In [64]:
from sklearn.metrics import r2_score,mean_squared_error

In [65]:
R2=r2_score(y_test,y_predictions)
MSE=mean_squared_error(y_test,y_predictions)
RMSE=np.sqrt(MSE)
#accuracy_score(y_test,y_predictions) # it is a regression tech
print("R-sqaure:",R2)
print("MSE:",MSE)
print("RMSE:",RMSE)

R-sqaure: 0.213315698990301
MSE: 8.936383553482141
RMSE: 2.9893784560477017

In [66]:
LR.coef_
print("The coeffiecnt of Years_of_experience is:",LR.coef_)

The coeffiecnt of Years_of_experience is: [-1.73182423e-07  2.69267561e-02  4.36447981e-03  2.62197500e-07
 -1.47212688e-05]

In [67]:
LR.intercept_

21.6968366484229

In [68]:
from statsmodels.api import OLS
OLS(y_train,X_train).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                     OLS Regression Results
================================================================================================
Dep. Variable:     historical_popularity_index   R-squared (uncentered):                   0.840
Model:                                     OLS   Adj. R-squared (uncentered):              0.840
Method:                          Least Squares   F-statistic:                              7541.
Date:                         Mon, 12 May 2025   Prob (F-statistic):                        0.00
Time:                                 14:00:36   Log-Likelihood:                         -26018.
No. Observations:                         7205   AIC:                                  5.205e+04
Df Residuals:                             7200   BIC:                                  5.208e+04
Df Model:                                    5
Covariance Type:                     nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
article_id     1.223e-07   1.83e-08      6.684      0.000    8.65e-08    1.58e-07
latitude          0.4133      0.003    142.261      0.000       0.408       0.419
longitude         0.0131      0.002      6.454      0.000       0.009       0.017
page_views     7.684e-08   2.62e-08      2.929      0.003    2.54e-08    1.28e-07
average_views  2.015e-05   1.68e-06     11.996      0.000    1.69e-05    2.34e-05
==============================================================================
Omnibus:                     1948.242   Durbin-Watson:                   1.758
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6457.672
Skew:                           1.357   Prob(JB):                         0.00
Kurtosis:                       6.761   Cond. No.                     2.49e+05
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [69]:
import pickle
pickle.dump(LR,
            open('database_linear_model.pkl','wb'))

In [70]:
model = pickle.load(open('database_linear_model.pkl','rb'))
model

LinearRegression()

In [71]:
X_test

      article_id  latitude  longitude  page_views  average_views
288        16028  49.05306   13.98500     4240802          78533
7849      306724  31.79028 -106.42333    11212886         373763
8607      995149  55.68139   12.45500     9166870         277784
4095    26532764  46.95250    4.63400      523161          19376
2        1095706  32.50000   34.90000    60299092         281771
...          ...       ...        ...         ...            ...
5610      296524  54.59700   -5.93000      289101           8260
6473      240836  47.98333    7.85000      736516          17964
9695     2297189  53.14389    8.21389     1506172          44299
9855     2360567   5.55000   -0.20000     4956468         101152
1866        5813  54.59700   -5.93000    10920003         182000

[3089 rows x 5 columns]

In [72]:
X_test.values

array([[ 1.6028000e+04,  4.9053060e+01,  1.3985000e+01,  4.2408020e+06,
         7.8533000e+04],
       [ 3.0672400e+05,  3.1790280e+01, -1.0642333e+02,  1.1212886e+07,
         3.7376300e+05],
       [ 9.9514900e+05,  5.5681390e+01,  1.2455000e+01,  9.1668700e+06,
         2.7778400e+05],
       ...,
       [ 2.2971890e+06,  5.3143890e+01,  8.2138900e+00,  1.5061720e+06,
         4.4299000e+04],
       [ 2.3605670e+06,  5.5500000e+00, -2.0000000e-01,  4.9564680e+06,
         1.0115200e+05],
       [ 5.8130000e+03,  5.4597000e+01, -5.9300000e+00,  1.0920003e+07,
         1.8200000e+05]])

In [73]:
len(X_test.columns)

5

In [78]:
model.predict([[1,2,3,4,5]])

array([21.76371087])

In [79]:
model.predict(X_test)

array([23.03176019, 19.47296916, 21.39237059, ..., 22.50862286,
       21.24708627, 23.32399524])

In [80]:
import os
os.getcwd()

'C:\\Users\\DELL\\jupyter notes'